mixin footer()
	+b.FOOTER.footer.block-with-lazy
		//-+e.bg
			img.lazy(src="" data-src='img/@2x/bg-grid.jpg' alt='')
		.container
			+e.row.row
				.col-auto.col-lg-4
					+e.A.logo(href='/')
						img(src="img/@2x/logo.png" alt="")
				.col-auto.col-lg-4
					+e.all-rights-cont
						+e.A.mail(href="mailto:Torus-service@mail.ru") Torus-service@mail.ru
						+e.all-rights-txt
							span
								| ©
								|
							span.year-js 1983
							span
								|
								| Все права защищены
				+e.tel-col.col-auto.col-lg-4
					+e.phone-cont
						+e.A.phone(href='tel:+73833630011') +7 (383) 363-00-11
						+e.A.callback-btn.link-modal(href="#modal-call") Обратный звонок

