mixin sContact()
	// start sContact
	+b.SECTION.sContact#sContact&attributes(attributes)
		//-+e.container.container
		+e.strip
			+e.header
				+e.icon
					img.lazy(src="#" data-src="img/@2x/icon-location.png" alt="")
				+e.title Новосибирск
			+e.item
				+e.item-title Ремонт сварочного оборудования и&nbsp;электро/бензо инструмента
				+e.item-address ул. Пристанский пер. 5г
				+e.A.phone(href='tel:+73833630011') +7 (383) 363-00-11
		script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A478ee06b65058267db4a247e2b83e2c5844b364b3b28381467282ae3d445bb5f&width=100%&height=500&lang=ru_RU&scroll=false')

	// end sContact