// start .sContact
.sContact {
	position: relative;
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(0)};

	& > ymaps{
		z-index: 1;
		@include media-breakpoint-down(lg){
			height: rem(370px) !important;
		}
	}

	&__container{
		@include media-breakpoint-up(lg){
			//position: relative;
			//z-index: 2;
		}
	}
	&__strip{
		padding: 20px 15px ;
		@include media-breakpoint-up(sm){
			padding: rem(30);
		}
		@include media-breakpoint-up(lg){
			position: absolute;
			z-index: 2;
			top: 0;
			padding: rem(50) rem(30) rem(30) rem(30);
			width: 350px;
			right: 0;
		}
		@include media-breakpoint-up(xxl){
			right: 10.4vw;
		}

		height: 100%;
		background-color: rgba($white, .9);
	}

	//header
	&__header{
		display: flex;
		align-items: center;
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg){
			display: block;
			margin-bottom: 0;
		}
	}
	&__icon{
		width: 34px;
		height: 34px;
		display: flex;

		margin-right: 20px;
		@include media-breakpoint-up(lg){
			margin-bottom: 10px;
			margin-right: 0px;
		}

		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
			margin: auto;
		}
	}
	&__title{
		font-weight: 800;

		@include media-breakpoint-up(lg){
			margin-bottom: rem(25px);
		}
		font-size: rem(35);
	}
	&__item{
		margin-bottom: rem(20px);
	}
	&__item-title{
		font-size: rem(17);
		color: $danger;
		margin-bottom: rem(8);
	}
	&__item-address{
		font-size: rem(21px);
	}
	&__phone{
		font-size: rem(21px);
	}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact