// start .headerBlock
.headerBlock {
	position: relative;
	z-index: 1;
	//min-height: 100vh;

	@include media-breakpoint-up(lg){
		margin-top: 40px;
	}

	--sTPB: #{0};

	--sPT: #{90px};
	--sPB: #{rem(40)};
	@include media-breakpoint-up(md){
		--sPT: #{150px};
		--sPB: #{50px};
	}
	@include media-breakpoint-up(lg){
		--sPT: #{170px};
		--sPB: #{80px};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{210px};
		--sPB: #{100px};
	}

	&__wrap{
		@include media-breakpoint-up(md){
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	//bg
	&__bg{
		overflow: hidden;
		position: absolute;
		z-index: -1;
		top: 0;
		left: -20%;
		width: 140%;
		height: 100%;

		display: flex;
		background-color: $black;
	}
	&__left-bg,
	&__right-bg{
		@include mt();
		opacity: 0.35;

		img{
			@include mt();
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__left-bg{
		transform: skew(-10deg);

		width: 100%;
		@include media-breakpoint-up(lg){
			width: 51%;
		}

		//up md hover
		&.hover{
			@include media-breakpoint-up(lg){
				transform: skew(-10deg);
				opacity: 0.6;
				width: 55%;
				.headerBlock__right-bg{
					width: 45%;
				}
			}
		}
	}
	&__right-bg{
		transform: skew(-10deg);

		width: 100%;
		@include media-breakpoint-up(lg){
			width: 49%;
		}
		//up md hover
		&.hover{
			@include media-breakpoint-up(lg){
				transform: skew(-10deg);
				opacity: 0.6;
				width: 54%;
				.headerBlock__left-bg{
					width: 46%;
				}
			}
		}
	}


	//
	&__txt-block{
		margin: 0 auto 20px auto;
		text-align: center;
		@include media-breakpoint-up(md){
			//margin: 0 20px 0 0px;
			text-align: left;
		}
		@include media-breakpoint-up(lg){
			//margin: 0 15px 0 30px;
		}
		color: $primary;
		h1{
			margin-bottom: 0;
			font-weight: 800;
		}
	}
	&__big{
		font-size: rem(28);
		@include media-breakpoint-up(sm){
			display: inline;
		}
		@include media-breakpoint-up(md){
			display: block;
			max-width: 390px;
			font-size: rem(60px);
		}
		@include media-breakpoint-up(lg){
			font-size: rem(75px);
		}

		letter-spacing: 1px;
		line-height: 1;
	}
	&__small{
		font-size: rem(28px);
		@include media-breakpoint-up(sm){
			display: inline;
		}
		@include media-breakpoint-up(md){
			display: block;
		}
		@include media-breakpoint-up(lg){
			font-size: rem(43);
		}
	}
	&__white{
		font-size: rem(33);
		@include media-breakpoint-up(lg){
			font-size: rem(48);
		}
		color: white;
	}


	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

.form{
	.form-wrap{
		margin: 0 auto;
		@include media-breakpoint-up(md){
			margin: 0;
		}

		max-width: 380px;
		background-color: $white;
		padding: rem(25px) rem(25px) rem(20px) rem(25px);
		@include media-breakpoint-up(lg){
			padding: rem(35px) rem(35px) rem(30px) rem(35px);
			max-width: 400px;
		}
		text-align: center;
		border-radius: 5px;

		&__headline{
			white-space: nowrap;
			font-size: rem(25);
			@include media-breakpoint-up(sm){
				font-size: rem(43);
			}
			font-weight: 800;
			margin-bottom: 10px;
		}
		//add cont
		&__inner-cont{
			@include media-breakpoint-up(sm){
				padding: 0 rem(25px);
			}
		}

		&__txt{
			font-size: rem(16px);
			@include media-breakpoint-up(sm){
				font-size: rem(20px);
			}
			margin-bottom: 15px;
		}
		&__input-wrap{

			label{
				position: relative;
				margin-bottom: 8px;
			}
		}
		&__input{
			padding-right: 40px;
		}
		&__icon-img{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;

			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}
		&__btn{
			@extend .btn;
			@extend .btn-danger;

			width: 100%;
			height: rem(62);

			padding: rem(18.5px) rem(15px);
			font-size: rem(20px);

			margin-bottom: rem(10);
		}
		&__warranty{
			text-align: left;
			padding-left: 21px;

			font-size: rem(15px);
			line-height: 16px;

			background-image: url(../img/@2x/icon-lock.png);
			background-repeat: no-repeat;
			background-size: 16px;
			background-position: center left;
		}
	}
}