extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sRepairment/_sRepairment.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sWork/_sWork.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	//-+mob-mnu()
	+header()
		+top-nav()
		+headerBlock()
	+sRepairment()
	+sAdvantages()
	+sFeedBack()
	+sForm()
	+sWork()
	+sContact()
	+footer()


	