mixin sFeedBack()
	// start sFeedBack
	+b.SECTION.sFeedBack.section#sFeedBack&attributes(attributes)
		+pic('sFeedBack-bg.jpg')(class='sFeedBack__bg')
		.container
			+b.section-title.text-center
				h2 Отзывы клиентов
			+e.list
				ul
					li
						| Хочу выразить огромную благодарность сервису за профессионализм в ремонте электроинструмента Все оперативно и качественно сделано.
						br.d-none.d-lg-block
						| Рекомендую!
					li Делал ремонт в офисе, но в самый неподходящий момент сломалась дрель, сам не смог починить. Спецы быстро нашли причину поломки, заменили деталь. Хорошее обслуживание.
					li Хочу написать отзыв. Делал у них сварочный аппарат. Остался доволен. Быстро и качественно, до сих пор использую. В сервисе объяснили как грамотно обращаться, чтобы не сломался в будущем.

	// end sFeedBack