mixin sRepairment()
	// start sRepairment
	+b.SECTION.sRepairment.section#sRepairment&attributes(attributes)
		+pic('sRepairment-bg.jpg')(class="sRepairment__bg")
		.container
			+b.section-title
				h2 Осуществляем ремонт
			+e.list
				ul
					li Шуруповертов и дрелей
					li Перфораторов и отбойных молотков
					li УШМ, полировальных и шлифовальных машин
					li Пил и лобзиков
					li Тепловых пушек
					li Компрессоров и генераторов
					li Компрессоров и генераторов
					li Сварочного оборудования
					li Пневмоинструмента
					li Газонокосилок, триммеров и бензопил
					li Культиваторов и мотоблоков
					li Мотопомп и электронасосов
				+e.btn-cont
					+e.A.btn(href="http://profsvarka.net" target="_blank") Полный перечень товаров и услуг
	// end sRepairment